.services {
  background-color: $black;
  color: $white;
  padding-block: $sectionPadding;

  .headline {
    .heading {
      text-align: center;
      text-transform: uppercase;
      font-size: calc(25vw / 4);
      line-height: 1;
      span {
        color: $green;
      }
    }

    h5 {
      // align-self: center;
      // align-self: flex-end;
      text-align: center;
    }
    .copy {
      max-width: 70%;
      margin-inline: auto;
      padding-top: 56px;
      // align-items: flex-end;
      justify-content: end;

      span {
        color: $green;
      }
    }
    .copy > * {
      width: 50%;
    }
  }

  .service-section {
    padding-top: $sectionPadding;

    .section-border {
      row-gap: 50px;
    }

    .flexColumn {
      justify-content: space-around;
    }

    h3 {
      text-transform: uppercase;
      font-size: 32px;
      span {
        color: $green;
        font-size: 16px;
        margin-right: 8px;
      }
    }

    p {
      width: 85%;
    }

    .image-row {
      justify-content: space-evenly;
      margin-block: 32px;
      div {
        // border: 3px solid red;
        height: 400px;
        width: 50%;
      }

      div:first-of-type {
        margin-inline: 1rem;
      }
      img {
        object-fit: cover;
        height: 100%;
        max-width: 100%;
      }
      span.company {
        display: inline-block;
        margin-top: 4px;
        font-size: 12px;
        // border: 10px solid red;
      }
    }

    div.col-6 {
      margin-block: 3rem;
      margin-block: 40px;
    }
    hr {
      margin-block: 32px;
      //   width: 70%;
      margin-inline: auto;
    }
  }
  @media (max-width: 576px) {
    .headline {
      .copy {
        max-width: unset;
        justify-content: center;
        p {
          width: 100%;
          padding-inline: 8px;
        }
      }
    }
    .service-section {
      padding-top: 48px;
      h3 {
        width: max-content;
        font-size: 24px;
      }
      p {
        width: 90%;
        padding-top: 16px;
      }
      .image-row {
        margin-bottom: 64px;
        div {
          height: 250px;
          width: 200px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .headline .copy {
      max-width: unset;
    }
  }
}
