.brands {
  padding-top: $sectionPadding;
  h3 {
    // width: min-content;
    line-height: 1;
    text-transform: uppercase;
    @media (max-width: 576px) {
      text-align: center;
      font-size: 40px;
    }
  }
  &__logo-container {
    width: 65%;
    margin-bottom: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 576px) {
      margin-inline: auto;
    }
  }

  .logos {
    margin-top: 40px;
  }
}
