.testimonials {
  padding-block: $sectionPadding;

  &__headline {
    padding-bottom: 32px;
    border-bottom: 2px solid #d2d2d2;
  }

  &__review {
    padding-right: 96px !important;
  }

  &__copy {
    margin-block: 16px 32px;
    text-align: justify;
  }

  &__client {
    a {
      height: fit-content;
      transition: all ease-in 0.3s;
      &:hover {
        color: $green;
      }
      @media (max-width: 576px) {
        text-align: center;
        margin-top: 12px;
      }
    }
    .details {
      max-width: 65%;
      img {
        width: 125px;
        margin-right: 12px;
        object-fit: cover;
      }
      span {
        font-size: 12px;
        font-weight: normal;
      }
      @media (max-width: 576px) {
        max-width: unset;
      }
    }
  }

  &__client.flexBetween {
    align-items: unset;
    @media (max-width: 576px) {
      flex-direction: column;
    }
  }

  .flexCenter {
    align-items: flex-start;
    @media (max-width: 576px) {
      justify-content: start;
    }
  }

  @media (max-width: 768px) {
    padding-block: 56px;

    &__review {
      padding-inline: 16px !important;
    }

    &__copy {
      margin-block: 16px;
    }

    &__client {
      margin-bottom: 24px;
    }
  }
}
