.testimonials {
  padding-block: $sectionPadding;

  &__headline {
    padding-bottom: 32px;
    border-bottom: 2px solid #d2d2d2;
  }

  &__review {
    padding-right: 96px !important;
  }

  &__copy {
    margin-block: 16px 32px;
    text-align: justify;
  }

  &__client {
    .details {
      max-width: 65%;
      img {
        width: 125px;
        margin-right: 12px;
        object-fit: cover;
      }
      span {
        font-size: 12px;
        font-weight: normal;
      }
    }
  }

  &__client.flexBetween {
    align-items: unset;
  }
  .flexCenter {
    align-items: flex-start;
  }
}
