// Variables
$white: #ffffff;
$black: #121212;
$green: #19e72f;
// $green: #fee100;
$sectionPadding: 96px;

h2 {
  font-size: 40px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 24px;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%btn {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  display: inline-block;
  text-align: center;
  width: fit-content;
  transition: all ease-in-out 0.3s;
  padding: 16px;
  margin: 4px;
  border: 1px solid $black;

  border-radius: 8px;
  // border-radius: 100px;
}

.main-btn {
  @extend %btn;
  background-color: $black;
  color: $white;

  &:hover {
    color: $green;

    // background-color: $white;
    // color: $black;
  }
}

.line-container {
  // display: inline-block;
  width: fit-content;
}
a.line {
  // color: red;
  transition: all ease-in-out 0.3s;
  position: relative;
  padding-bottom: 2.5px;
  font-weight: 600;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: $green;
    bottom: 0;
    left: 0;
    transform-origin: left;
    transform: scalex(0.075);
    transition: all ease-out 0.5s;
  }

  &:hover {
    // color: yellow;
    // text-decoration: none;
    opacity: 0.9;
    &::after {
      transform: scalex(1);
    }
  }
}
