.about {
  padding-block: $sectionPadding;

  h2 {
    width: 50%;
    margin-bottom: 64px;
  }

  .top-copy {
    p {
      width: 100%;
      margin: 8px;
      text-align: justify;
    }
  }

  .bottom-row {
    .larger-image {
      margin-block: 24px;
      max-height: 70vh;
      overflow: hidden;
      img {
        object-fit: cover;
        height: 100%;
      }
    }
    .headline {
      text-indent: 20%;
      padding-bottom: 72px;

      // text-indent: 75px;
    }

    .image-row {
      img {
        max-width: 25%;
        margin: 20px 20px 0 0;
      }
    }

    .copy {
      height: 100%;
      justify-content: space-between;
      align-items: flex-start;

      p {
        max-width: 70%;
        text-align: justify;
      }
    }
  }
}
