.footer {
  background-color: $black;
  color: $white;
  // Footer Effect
  // position: relative;
  // height: 700px;
  // clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);

  // // footer effect
  // .content {
  //   position: fixed;
  //   bottom: 0;
  //   height: 700px;
  //   width: 100%;
  // }

  ul {
    padding: 32px;
  }

  .middle-row {
    padding-block: $sectionPadding;

    .page-links {
      justify-content: unset;

      li {
        width: 50%;
        padding-bottom: 8px;
        margin-right: 32px;
        margin-bottom: 16px;
        border-bottom: 2px solid #d2d2d2;

        p {
          text-transform: capitalize;
        }
      }
    }

    .stay-in-touch {
      text-align: center;
    }
  }
  &__bottom-row {
    padding-bottom: 4px;
    .flexCenter {
      justify-content: end;
    }
    .logo {
      width: 100%;
      .contact-links {
        a {
          margin-inline: 16px;
          // padding-inline: 16px;
          &:hover {
            color: unset;
          }
        }
      }
      img {
        height: 100%;
        width: 75%;
        // padding-top: 32px;
      }
    }
  }

  a {
    transition: all ease 0.3s;
    &:hover {
      color: $green;
    }
  }
}
