.footer {
  background-color: $black;
  color: $white;

  h3 {
    @media (max-width: 576px) {
      text-align: center;
    }
  }
  ul {
    padding: 32px;
    @media (max-width: 576px) {
      padding: 16px;
    }
  }

  .top-row {
    @media (max-width: 576px) {
      ul.flexBetween {
        flex-wrap: wrap;
        h3 {
          width: 100%;
          margin-bottom: 16px;
        }
      }
    }
  }
  .middle-row {
    padding-block: $sectionPadding;

    .page-links {
      justify-content: unset;

      li {
        width: 50%;
        padding-bottom: 8px;
        margin-right: 32px;
        margin-bottom: 16px;
        border-bottom: 2px solid #d2d2d2;

        p {
          text-transform: capitalize;
        }

        @media (max-width: 576px) {
          text-align: center;
          margin-inline: 8px;
        }
      }
    }

    .stay-in-touch {
      text-align: center;
    }
  }

  &__bottom-row {
    padding-bottom: 4px;
    .flexCenter {
      justify-content: end;
    }
    .logo {
      width: 100%;
      .contact-links {
        a {
          margin-inline: 16px;
          // padding-inline: 16px;
          &:hover {
            color: unset;
          }
        }
      }
      img {
        height: 100%;
        width: 75%;
        @media (max-width: 576px) {
          width: 100%;
        }
        // padding-top: 32px;
      }
    }
    @media (max-width: 576px) {
      padding-bottom: 32px;
    }
  }

  a {
    transition: all ease 0.3s;
    &:hover {
      color: $green;
    }
  }
}
