.contact {
  padding-block: $sectionPadding;
  background-color: $black;

  h2 {
    text-align: center;

    background-image: url(https://images.unsplash.com/photo-1532591871029-f38a4c550d8d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: calc(80vw / 4.75);
    font-weight: 900;
    letter-spacing: -15px;
    line-height: 0.9;
    @media (max-width: 576px) {
      letter-spacing: 0;
      font-size: calc(100vw / 4);
      line-height: 0.9;
    }
  }
  .cta {
    color: $white;
    padding-top: 32px;
    justify-content: space-evenly;
  }
}
