@import "tailwindcss";

@theme inline {
  --color-theme-green: #19e72f;
  --color-theme-black: #121212;
}

html {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif !important;
}

a:hover {
  text-decoration: none !important;
}
a:focus,
a:focus-visible,
button:focus,
button:focus-visible {
  outline: none !important;
}

@keyframes shimmer {
  to {
    background-position-x: 0%;
  }
}
