// @import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

.header {
  padding: 16px 16px $sectionPadding;
  background-color: #fff;

  img {
    object-fit: cover;
  }

  .left-side {
    align-items: unset;
    justify-content: space-between;
    max-height: 95vh;
    height: 100%;

    .logo {
      align-self: baseline;
      img {
        width: 100%;
        align-self: baseline;
      }
    }

    nav {
      text-align: end;
      a {
        p {
          text-transform: capitalize !important;
          margin: 2px;
          transition: all ease-in-out 0.3s;
          &:hover {
            color: $green;
          }
        }
      }
    }
    img {
      width: 50%;
    }
  }
  .copy {
    align-items: flex-start;

    h1 {
      text-transform: uppercase;
    }

    p span {
      margin: 4px 0 0 8px;
      display: inline-block;
      font-size: 12px;
      text-align: center;
      padding: 4px 8px;
      border-radius: 50px;

      background: linear-gradient(800deg, $black 40%, #000000ba 25%, #000 60%);
      background-size: 300%;
      background-position-x: 100%;
      animation: shimmer 5s infinite ease-in-out;

      // background-color: $black;
      color: $green;
      // border: 2px solid $green;
    }

    @keyframes shimmer {
      to {
        background-position-x: 0%;
      }
    }
  }
  .right-side {
    justify-content: end;
    max-height: 95vh;
    img {
      height: 100%;
    }
  }

  .bottom {
    display: flex;
    figure {
      width: 60%;
      video {
        width: 100%;
      }
    }
    .line-container {
      align-self: flex-end;
      margin-left: auto;
      // align-self: center;
      // margin-inline: auto;
    }
  }
  .line-container {
    .arrow {
      font-size: 28px;
      color: $green;
      transition: all ease-in-out 0.5s;
    }
    &:hover {
      .line {
        margin-right: 1.5px;
      }
      // .arrow {
      //   margin-left: 2px;
      // }
    }
  }
}
